@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Poppins;
}
.container{
    background: rgb(2,0,36);
    background: linear-gradient(347deg, rgba(2,0,36,1) 0%, rgba(53,122,244,1) 19%, rgba(255,124,202,1) 100%);
    width: 100%;
    height: 100vh;
}
.header{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex: 1;
    background-color: white;
    padding: 5px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.header h1 img{
    padding-top: 8px;
    width: 3.5vh;
    height: 4vh;
}
.main-nav{
    padding-top: 15px;
}
.main-nav ul{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    list-style-type: none;
}
.main-nav ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.main-nav ul li a:hover{
    color: #7aa1e2;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.newTask{
    background-color: white;
    width: 400px;
    height: 500px;
    /* margin: 80px 50px 50px 50px; */
    padding: 20px;
    border: none;
    border-radius: 5%;
    margin-bottom: 5rem;
}
.newTask h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newTask h3 img{
    width: 1.5rem;
    height: 1.5rem;
    
}
.inputTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dfe2e7;
    margin-top: 10px;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.inputTask input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.inputTask button{
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #7aa1e2;
    cursor: pointer;
}
.inputTask button:hover{
    background-color: #0d54d0;
    color: white;
}
.newTask hr{
    margin-bottom: 20px;
}
.newTask ul li{
    list-style-type: none;
    font-size: 20px;
    padding: 0px 0px 5px 30px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.newTask ul li::before{
    content: '';
    background-image: url(./images/unchecked.png);
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 1px;
    left: 1px;
}
.newTask ul li.checked{
    color: #9bc0a3;
    text-decoration: line-through;
}
.newTask ul li.checked::before{
    background-image: url(./images/checked.png);
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid black;
}
.newTask ul li span{
    position: absolute;
    right: 0;
    /* top: 5px; */
    /* height:20px; */
    width: 30px;
    font-size: 22px;
    color: #686767;
    line-height: 30px;
    text-align: center;
}
.newTask ul li span:hover{
    background: #dfe2e7;
    border-radius: 20%;
    font-size: 28px;
}
.glow {
    box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.8);
}
@keyframes shake {
    0% { transform: translateY(0);}
    25% { transform: translateY(-10px);}
    50% { transform: translateY(10px);}
    75% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* section2 */
.completedTasks{
    background-color: white;
    width: 400px;
    height: 500px;
    /* margin: 80px 50px 50px 50px; */
    padding: 20px;
    border: none;
    border-radius: 5%;
    margin-bottom: 5rem;
}
.completedTasks h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section3 */
.allTasks{
    background-color: white;
    width: 400px;
    height: 500px;
    /* margin: 80px 50px 50px 50px; */
    padding: 20px;
    border: none;
    border-radius: 5%;
    margin-bottom: 5rem;
}
.allTasks h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}